/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(
    30,
    29,
    29,
    0.7
  ) !important; /* dark semi-transparent */
  border-radius: 50% !important;
  background-size: 100% 100%;
  width: 3rem;
  height: 3rem;
  top:35%
}
