/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";
::ng-deep .carousel-control-prev-icon,
::ng-deep .carousel-control-next-icon {
  background-color: rgba(16, 16, 16, 0.7); /* dark semi-transparent */
  border-radius: 50%;
  background-size: 100% 100%;
  width: 3rem;
  height: 3rem;
}
